<div class="container">
  <div class="form">
    <mat-form-field floatPlaceholder="never" color="primary">
      <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Sorgula">
    </mat-form-field>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let bagaj"> {{bagaj.id}}</td>
      </ng-container>
      <ng-container matColumnDef="barkodNo">
        <th mat-header-cell *matHeaderCellDef> Barkod No</th>
        <td mat-cell *matCellDef="let bagaj"> {{bagaj.barkodNo}}</td>
      </ng-container>
      <ng-container matColumnDef="durum">
        <th mat-header-cell *matHeaderCellDef> Durum</th>
        <td mat-cell *matCellDef="let bagaj"> {{bagaj.durum}}</td>
      </ng-container>
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" matTooltip="Bagaj Ekle" (click)="addBagajToYolcu()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let bagaj;">
          <button mat-icon-button color="primary" matTooltip="Bagaj İptal"
                  (click)="iptalBagaj(bagaj.id, bagaj.barkodNo)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

