<div class="container">
  <h3 mat-dialog-title>Yolcuyu bakanlığa gönder</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" [(ngModel)]="data.id"
               name="id" [readonly]="true" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Gruplar" name="grup"
                    [(ngModel)]="data.grup" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let group  of groups" [value]="group">{{group.grupAdi}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" mat-dialog-close="1" (click)="confirmSend()">
        Kaydet
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Vazgeç</button>
    </div>
  </form>
</div>
