<div class="container">
  <h3 mat-dialog-title>Sefere personel ekle</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field color="primary">
        <mat-select placeholder="Personel" name="personel"
                    [(ngModel)]="data.personel" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let personel  of personels" [value]="personel.id">{{personel.adi}} {{personel.soyadi}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" mat-dialog-close="1" (click)="confirmAdd()">
        Kaydet
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Vazgeç</button>
    </div>
  </form>
</div>
