<div class="container">
  <h3 mat-dialog-title>Yeni Kullanıcı Ekle</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input class="form-control" placeholder="Adı" [(ngModel)]="data.firstName"
               name="first_name" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input class="form-control" placeholder="Soyadı" [(ngModel)]="data.lastName"
               name="last_name" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input class="form-control" placeholder="Kullanıcı Adı" [(ngModel)]="data.userName"
               name="username" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input class="form-control" placeholder="Email" [(ngModel)]="data.email"
               name="email" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input class="form-control" placeholder="Password" [(ngModel)]="data.password"
               name="password" type="password" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" mat-dialog-close="1" (click)="confirmAdd()">
        Kaydet
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Vazgeç</button>
    </div>
  </form>
</div>
