<div class="container">
  <h3 mat-dialog-title>Grup Güncelle</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input class="form-control" placeholder="Grup Adı"
               [(ngModel)]="data.grupAdi" name="grupAdi" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
       <textarea matInput #input class="form-control" placeholder="Grup Açıklama" [(ngModel)]="data.grupAciklama"
                 name="grupAciklama" required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <mat-select placeholder="Başlangıç Ülke" name="baslangicUlke" (selectionChange)="loadAllCities($event.value)"
                    [(ngModel)]="data.baslangicUlke" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let country  of countries" [value]="country">{{country.countryName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <mat-select placeholder="Başlangıç İl" name="baslangicIl" (selectionChange)="loadAllDistricts($event.value)" [(ngModel)]="data.baslangicIl"
                    required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let city  of cities" [value]="city.cityCode">{{city.cityName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <mat-select placeholder="Başlangıç İlçe" name="baslangicIlce" [(ngModel)]="data.baslangicIlce" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let district  of districts" [value]="district.districtCode">{{district.districtName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input class="form-control" placeholder="Başlangıç Yer"
               [(ngModel)]="data.baslangicYer" name="baslangicYer" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <mat-select placeholder="Bitiş Ülke" name="bitisUlke" (selectionChange)="loadAllCities($event.value)" [(ngModel)]="data.bitisUlke" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let country  of countries" [value]="country">{{country.countryName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <mat-select placeholder="Bitiş İl" name="bitisIl" (selectionChange)="loadAllDistricts($event.value)" [(ngModel)]="data.bitisIl" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let city  of cities" [value]="city.cityCode">{{city.cityName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <mat-select placeholder="Bitiş İlçe" name="bitisIlce" [(ngModel)]="data.bitisIlce" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let district  of districts" [value]="district.districtCode">{{district.districtName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input class="form-control" placeholder="Bitiş Yer"
               [(ngModel)]="data.bitisYer" name="bitisYer" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" mat-dialog-close="1" (click)="confirmAdd()">
        Save
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
