<app-navigation></app-navigation>
<div class="container">
  <div class="example-header">
    <mat-form-field>
      <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Arama">
    </mat-form-field>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="uyrukUlke">
        <th mat-header-cell *matHeaderCellDef> Uyruk Ulke</th>
        <td mat-cell *matCellDef="let personel"> {{personel.uyrukUlke}}</td>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef> Tc Kimlik Pasaport No</th>
        <td mat-cell *matCellDef="let personel"> {{personel.tcKimlikPasaportNo}}</td>
      </ng-container>
      <ng-container matColumnDef="adi">
        <th mat-header-cell *matHeaderCellDef> Adı</th>
        <td mat-cell *matCellDef="let personel"> {{personel.adi}}</td>
      </ng-container>
      <ng-container matColumnDef="soyadi">
        <th mat-header-cell *matHeaderCellDef> Soaydı</th>
        <td mat-cell *matCellDef="let personel"> {{personel.soyadi}}</td>
      </ng-container>
      <ng-container matColumnDef="cinsiyet">
        <th mat-header-cell *matHeaderCellDef> Cinsiyet</th>
        <td mat-cell *matCellDef="let personel"> {{personel.cinsiyet}}</td>
      </ng-container>
      <ng-container matColumnDef="telefon">
        <th mat-header-cell *matHeaderCellDef> Telefon</th>
        <td mat-cell *matCellDef="let personel"> {{personel.telefon}}</td>
      </ng-container>
      <ng-container matColumnDef="adres">
        <th mat-header-cell *matHeaderCellDef> Adres</th>
        <td mat-cell *matCellDef="let personel"> {{personel.adres}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

