<div class="container">
  <h3 mat-dialog-title>Sefer Güncelle</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" [readonly]="true" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Uetds Sefer Referans No" [(ngModel)]="data.uetdsSeferReferansNo" name="uetdsSeferReferansNo" [readonly]="true" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Arac Plaka" [(ngModel)]="data.aracPlaka" name="aracPlaka" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" mat-dialog-close ="1" (click)="stopEdit()">Kaydet</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Vazgeç</button>
    </div>
  </form>
</div>
