<nav class="navbar navbar-expand-md bg-info navbar-dark">
  <a class="navbar-brand" routerLink="/">Uetds Yönetim Sistemi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Sefer</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/grup" class="nav-link">Grup</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/yolcu" class="nav-link">Yolcu</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/personel" class="nav-link">Personel</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/udhb-kullanici" class="nav-link">Udhb Kullanıcı</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/kullanici" class="nav-link">Sistem Kullanıcıları</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a (click)="logout()" class="nav-link">Çıkış Yap</a>
      </li>
    </ul>
  </div>
</nav>
