<nav class="navbar navbar-expand-md bg-info navbar-dark">
  <a class="navbar-brand" routerLink="/">Uetds Yönetim Sistemi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link"><i class="material-icons">
          directions_bus
        </i>Sefer</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/grup" class="nav-link"><i class="material-icons">
          group
        </i>Grup</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/yolcu" class="nav-link"><i class="material-icons">
          people
        </i>Yolcu</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/personel" class="nav-link"><i class="material-icons">
          person
        </i>Personel</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/udhb-kullanici" class="nav-link"><i class="material-icons">
          person_outline
        </i>Udhb Kullanıcı</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/kullanici" class="nav-link"><i class="material-icons">
          people_outline
        </i>Sistem Kullanıcıları</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a (click)="logout()" class="nav-link"><i class="material-icons">
          exit_to_app
        </i>Çıkış Yap</a>
      </li>
    </ul>
  </div>
</nav>
